.header_logo__ {
  width: 105px;
  display: block;
  position: relative;
  z-index: 1;
  margin: 0 auto;

  @include sm {
    width: 70px;
    margin: 0;
  }

  .figure__ {
    width: 100%;
  }

  img {
    width: 100%;
    object-fit: contain;
  }
}
