// swiper slider
.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid $secondaryColor;
  transition: 0.5s;
  overflow: hidden;
  background-color: transparent;

  &.swiper-button-disabled {
    // opacity: 1;
  }

  &::after {
    content: url("../images/shapes/arrow-left.svg");
    display: block;
    position: static;
    height: 64px;
    transform: unset;

    @include dir {
      transform: rotateY(-180deg);
    }
  }

  &:hover {
    background-color: $secondaryColor;

    &::after {
      filter: brightness(0) invert(1);
    }
  }

  &.single_page_button {
    position: static;
    border: 1px solid $borderColor;

    &::after {
      content: url("../images/shapes/arrow-right.svg");
      filter: brightness(0.8) grayscale(1);
    }

    &:hover {
      background-color: $primaryColor;
      border-color: $primaryColor;

      &::after {
        filter: unset;
      }
    }
  }
}

.swiper-button-next {
  &::after {
    transform: rotateY(-180deg);

    @include dir {
      transform: rotateY(0);
    }
  }
}

// swiper-pagination
.swiper-pagination {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  margin: 0 2px;
  border-radius: 50%;
  background-color: rgba(#86959F, 0.41);
  opacity: 1;
  width: 10px;
  height: 10px;


  &.swiper-pagination-bullet-active {
    // background-color   : $primaryColor;
    border-radius: 5px;
    background-color: $secondaryColor;
    width: 26px;
  }
}

// ###################################################################