// main colors
$primaryColor: #86c455;
$secondaryColor: #3ec2cf;
$borderColor: #d9e0e5;
$mainRedColor: #f54748;
$redColor: #f54748;

// head colors
$headingMainColor: #2a313d;
$headingSecondaryColor: #333743;
$headingThirdColor: #2a2929;

//parag Colors
$paragraphMainColor: #70749c;
$paragraphSecondaryColor: #767676;

//brand Colors
$twitterColor: #2abdf4;
$facebookColor: #4979ba;
$linkedinColor: #2279ef;
$borderBreakColor: #d9e0e5;

$borderBreakColor: #d9e0e5;

//border radius
$mainBorderRidus: 10px;
$secondaryBorderRidus: 20px;

$mainBackgroundColor: #f2f3fc;

$dir: "ltr";
